.swan-nebula {
  background-image: url(../figures/swan-nebula-m17.jpg);
  background-size: 100%;
  background-position: center middle
}
.carina-nebula {
  background-image: url(../figures/carina-nebula.jpg);
  background-size: 100%;
  background-position: top left
}
.carina-nebula-soft {
  background-image: url(../figures/carina-nebula-soft.jpg);
  background-size: 100%;
  background-position: top left
}
.world {
  position: absolute;
  border-radius: 50%;
  background-size: 115%;
  background-position: center center
}
.world-it {
  width: 200px;
  height: 200px;
  top: 40%;
  left: 20%;
  background-color: #14608d
}
.world-it::before {
  content: "IT";
  color: #fff;
  font-size: 1.75em;
  position: absolute;
  top: -30px;
  left: -30px
}
.world-150 {
  width: 150px;
  height: 150px
}
.world-it1 {
  background-image: url(../figures/worlds/IT1.png);
  background-repeat: no-repeat
}
.world-it2 {
  background-image: url(../figures/worlds/IT2.png);
  background-repeat: no-repeat;
  transform: scale(1.25)
}
.world-it3 {
  background-image: url(../figures/worlds/IT3.png);
  background-repeat: no-repeat;
  transform: scale(1.33)
}
.rocket {
  background-image: url(../figures/worlds/rocket.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 155px;
  height: 70px;
  background-size: contain;
  transform-origin: 0 50px;
  top: 670px;
  left: -93px;
  transform: rotate(185deg);
  z-index: 100;
  offset-path: path('M 0 0 C 133.3333 -60.6667 84 -177 393 -117 A 1 1 0 0 0 441 -437');
  offset-anchor: center;
  offset-distance: 100%
}
@media not all and (min-resolution:.001dpcm) { @media {
  .rocket {
    top: 150px;
    left: 400px;
    -webkit-transform: rotate(13deg)
  }
}}
.rocket::before {
  content: "Health Informatics";
  position: absolute;
  color: #fff;
  font-size: 1.25em;
  transform: rotate(-13deg);
  top: -90px;
  left: -40px;
  text-align: center
}
#slide-rocket .rocket::before {
  opacity: 0;
  animation: fadeIn .5s linear forwards;
  animation-delay: 3s
}
#slide-rocket .rocket {
  offset-distance: 0
}
#slide-rocket .rocket {
  animation: rocket-fly-in 3s cubic-bezier(.41,.72,.61,.32) forwards
}
@keyframes rocket-fly-in {
  0% {
    offset-distance: 0
  }
  100% {
    offset-distance: 100%
  }
}
#slide-rocket .world-it::before {
  top: 70px;
  left: -70px
}
.fullscreen-blur-fade-in {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: blur-fade-in 5s linear
}
@keyframes blur-fade-in {
  0% {
    opacity: 0;
    filter: blur(20px);
    transform: scale(1.25)
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1)
  }
}
.rotate-zoom-in {
  animation: rotate-zoom-in 1s ease-out
}
@keyframes rotate-zoom-in {
  0% {
    transform: scale(0) rotate(-180deg)
  }
  100% {
    transform: scale(1) rotate(+0deg)
  }
}
@keyframes moon-in-1 {
  0% {
    opacity: 0;
    transform: scale(0) rotate(-180deg)
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(66deg)
  }
}
@keyframes moon-in-2 {
  0% {
    opacity: 0;
    transform: scale(0) rotate(-90deg)
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(140deg)
  }
}
@keyframes moon-in-3 {
  0% {
    opacity: 0;
    transform: scale(0) rotate(0)
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(210deg)
  }
}
@keyframes moon-in-4 {
  0% {
    opacity: 0;
    transform: scale(0) rotate(90deg)
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(280deg)
  }
}
.moons {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 40%;
  left: 20%
}
.moons-1 {
  opacity: 0;
  animation: moon-in-1 2s ease-out forwards;
  animation-delay: 1.75s
}
.moons-1-static {
  opacity: 1;
  transform: scale(1) rotate(66deg)
}
.moons-2 {
  opacity: 0;
  animation: moon-in-2 2s ease-out forwards;
  animation-delay: 1.5s
}
.moons-2-static {
  opacity: 1;
  transform: scale(1) rotate(140deg)
}
.moons-3 {
  opacity: 0;
  animation: moon-in-3 2s ease-out forwards;
  animation-delay: 1.25s
}
.moons-3-static {
  opacity: 1;
  transform: scale(1) rotate(210deg)
}
.moons-4 {
  opacity: 0;
  animation: moon-in-4 2s ease-out forwards;
  animation-delay: 1s
}
.moons-4-static {
  opacity: 1;
  transform: scale(1) rotate(280deg)
}
.moons-text {
  color: #fff;
  opacity: 0;
  display: inline-block;
  position: absolute
}
.moons-1-static.moons-text-reveal .moons-text {
  opacity: 1;
  transform: rotate(-66deg);
  top: -90px;
  left: -190px;
  width: 200px;
  text-align: center;
  transition: all .25s ease-in
}
.moons-2-static.moons-text-reveal .moons-text {
  opacity: 1;
  transform: rotate(220deg);
  top: -160px;
  left: -230px;
  width: 200px;
  text-align: left;
  transition: all .25s ease-in
}
.moons-3-static.moons-text-reveal .moons-text {
  opacity: 1;
  transform: rotate(150deg);
  top: -20px;
  left: -280px;
  width: 220px;
  text-align: left;
  transition: all .25s ease-in
}
.moons-4-static.moons-text-reveal .moons-text {
  opacity: 1;
  transform: rotate(80deg);
  top: -40px;
  left: -200px;
  width: 220px;
  text-align: center;
  transition: all .25s ease-in
}
.moon-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: -50px;
  left: -50px
}
.zoomToStepOne {
  animation: zoomToStepOne 3s linear forwards
}
.zoomStepOne {
  transform: scale(.9) translate(-50px,25px)
}
@keyframes zoomToStepOne {
  0% {
    transform: scale(1) translate(0,0)
  }
  20% {
    transform: scale(1) translate(0,0)
  }
  100% {
    transform: scale(.9) translate(-50px,25px)
  }
}
.zoomToStepTwo {
  animation: zoomToStepTwo 3s linear forwards
}
.zoomStepTwo {
  transform: scale(.8) translate(-65px,45px)
}
@keyframes zoomToStepTwo {
  0% {
    transform: scale(.9) translate(-50px,25px)
  }
  20% {
    transform: scale(.9) translate(-50px,25px)
  }
  100% {
    transform: scale(.8) translate(-65px,45px)
  }
}
.zoomToStepThree {
  animation: zoomToStepThree 3s linear forwards
}
.zoomStepThree {
  transform: scale(.7) translate(-130px,45px)
}
@keyframes zoomToStepThree {
  0% {
    transform: scale(.8) translate(-65px,45px)
  }
  20% {
    transform: scale(.8) translate(-65px,45px)
  }
  100% {
    transform: scale(.7) translate(-130px,45px)
  }
}
.world-label {
  position: absolute;
  font-size: 1.5em
}
.world-label-entrance {
  opacity: 0;
  animation: blur-fade-in .5s linear forwards;
  animation-delay: 3s
}
.world-bi {
  background-color: #f0633c;
  background-image: url(../figures/worlds/BI.png);
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
  top: 10%;
  left: 60%
}
.world-bi-entrance {
  animation: world-bi-entrance 3s ease-in-out forwards
}
.world-label-bi {
  top: 105px;
  right: 205px;
  width: 100px
}
#slide-world-bi .world-label-bi {
  opacity: 0;
  animation: blur-fade-in .5s linear forwards;
  animation-delay: 3s
}
@keyframes world-bi-entrance {
  0% {
    opacity: 0;
    width: 50px;
    height: 50px;
    transform: translate(-345px,114px)
  }
  20% {
    opacity: 1;
    width: 50px;
    height: 50px;
    transform: translate(-345px,114px)
  }
  100% {
    opacity: 1;
    width: 160px;
    height: 160px;
    transform: translate(0,0)
  }
}
.world-cdsc {
  background-color: #14608d;
  background-image: url(../figures/worlds/CDSC.png);
  background-repeat: no-repeat;
  width: 140px;
  height: 140px;
  top: 45%;
  right: 275px
}
.world-label-cdsc {
  bottom: 230px;
  width: 190px;
  right: 70px
}
#slide-world-cdsc .world-label-cdsc {
  opacity: 0;
  animation: blur-fade-in .5s linear forwards;
  animation-delay: 3s
}
#slide-world-cdsc .world-cdsc {
  opacity: 1;
  animation: world-cdsc-entrance 3s cubic-bezier(.65,0,.35,1) forwards
}
@keyframes world-cdsc-entrance {
  0% {
    opacity: 0;
    width: 44px;
    height: 44px;
    transform: translate(-431px,78px)
  }
  20% {
    opacity: 1;
    width: 44px;
    height: 44px;
    transform: translate(-431px,78px)
  }
  100% {
    opacity: 1;
    width: 140px;
    height: 140px;
    transform: translate(0,0)
  }
}
.world-dqs {
  background-color: #fdcea0;
  background-image: url(../figures/worlds/DQS.png);
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  top: 75%;
  left: 57%
}
.world-label-dqs {
  bottom: 58px;
  width: 140px;
  right: 245px
}
#slide-world-dqs .world-label-dqs {
  opacity: 0;
  animation: blur-fade-in .5s linear forwards;
  animation-delay: 3s
}
#slide-world-cdsc .world-label-cdsc {
  opacity: 0;
  animation: blur-fade-in .5s linear forwards;
  animation-delay: 3s
}
#slide-world-dqs .world-dqs {
  opacity: 1;
  animation: world-dqs-entrance 3s cubic-bezier(.65,0,.35,1) forwards
}
@keyframes world-dqs-entrance {
  0% {
    opacity: 0;
    width: 40px;
    height: 40px;
    transform: translate(-330px,8px)
  }
  20% {
    opacity: 1;
    width: 40px;
    height: 40px;
    transform: translate(-330px,8px)
  }
  100% {
    opacity: 1;
    width: 120px;
    height: 120px;
    transform: translate(0,0)
  }
}
:root {
  --world-easing-function: cubic-bezier(.65,.05,.36,1)
}
#slide-data-engineering .world-it1 {
  animation: world-it1-exit 3s var(--world-easing-function) forwards
}
@keyframes world-it1-exit {
  0% {
    transform: rotate(0) scale(1)
  }
  50% {
    opacity: 1;
    transform: rotate(-450deg) scale(1.33)
  }
  100% {
    opacity: 0;
    transform: rotate(-2160deg) scale(1.25)
  }
}
#slide-data-engineering .world-it2 {
  opacity: 0;
  animation: world-it2-enter 3s var(--world-easing-function) forwards
}
@keyframes world-it2-enter {
  0% {
    opacity: 0;
    transform: rotate(2160deg) scale(1.33)
  }
  50% {
    opacity: 0;
    transform: rotate(2160deg) scale(1.33)
  }
  100% {
    opacity: 1;
    transform: rotate(0) scale(1.25)
  }
}
#slide-data-engineering .world-it::before {
  top: 70px;
  left: -70px;
  opacity: 0;
  animation: fadeInLeft .5s linear forwards;
  animation-delay: 3s
}
.world-it2::after {
  content: "Data Eng";
  color: #000;
  position: absolute;
  top: 100px;
  left: 120px;
  width: 50px
}
#slide-data-engineering .world-it2::after {
  opacity: 0;
  animation: fadeInUp .5s linear forwards;
  animation-delay: 3s
}
#slide-data-engineering .world-it1::before {
  display: none
}
#slide-data-engineering .moons-4-static {
  animation: find-db-exit 1.5s linear forwards
}
@keyframes find-db-exit {
  0% {
    opacity: 1;
    transform: scale(1) rotate(280deg)
  }
  100% {
    opacity: 0;
    transform: scale(.15)
  }
}
#slide-app-dev .world-it2 {
  animation: world-it2-exit 2s var(--world-easing-function) forwards
}
@keyframes world-it2-exit {
  0% {
    opacity: 1;
    transform: scale(1.25) rotate(0)
  }
  100% {
    opacity: 0;
    transform: scale(1.33) rotate(-720deg)
  }
}
.world-it3::after {
  content: "Data Eng";
  color: #000;
  position: absolute;
  top: 100px;
  left: 120px;
  width: 50px
}
.world-it3::before {
  content: "App Dev";
  color: #000;
  font-size: 1em;
  position: absolute;
  top: 50px;
  left: 20px;
  width: 50px
}
#slide-app-dev .world-it3::after {
  opacity: 0;
  animation: fadeInUp .5s linear forwards;
  animation-delay: 2s
}
#slide-app-dev .world-it3::before {
  opacity: 0;
  animation: fadeInUp .5s linear forwards;
  animation-delay: 2s
}
#slide-app-dev .world-it2::before {
  display: none
}
#slide-app-dev .world-it3 {
  animation: world-it3-enter 2s var(--world-easing-function) forwards
}
@keyframes world-it3-enter {
  0% {
    opacity: 0;
    transform: scale(1.25) rotate(0)
  }
  100% {
    opacity: 1;
    transform: scale(1.33) rotate(-720deg)
  }
}
.world-label-it {
  position: absolute;
  color: #fff;
  font-size: 1.5em;
  top: 369px;
  left: 181px
}
#slide-app-dev .world-label-it {
  opacity: 0;
  animation: fadeInLeft .5s linear forwards;
  animation-delay: 2s
}
.vibrate-1 {
  animation: vibrate-1 6s linear infinite both
}
@keyframes vibrate-1 {
  0% {
    transform: rotate(30deg) translate(0)
  }
  20% {
    transform: rotate(28deg) translate(-4px,4px)
  }
  40% {
    transform: rotate(30deg) translate(-4px,-4px)
  }
  60% {
    transform: rotate(32deg) translate(4px,4px)
  }
  80% {
    transform: rotate(30deg) translate(4px,-4px)
  }
  100% {
    transform: rotate(30deg) translate(0)
  }
}
.space-person {
  background-image: url(../figures/worlds/space-suit.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 120px;
  height: 200px;
  top: 50px;
  left: 130px
}
.space-person::before {
  content: 'CDO';
  color: #fff;
  font-size: 1.25em;
  position: absolute;
  left: -70px;
  transform: rotate(-30deg);
  top: 90px;
  animation: fadeIn .5s linear forwards
}