/*-- scss:rules --*/
:where(html) {
  //sizes
  --size-0: 0;
  --size-1: .25rem;
  --size-2: .5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-8: 3rem;
  --size-9: 4rem;
  --size-10: 5rem;
  --size-11: 7.5rem;
  --size-12: 10rem;
  --size-13: 15rem;
  --size-14: 20rem;
  --size-15: 30rem;

  // grays
  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;
  --gray-10: #16191d;
  --gray-11: #0d0f12;
  --gray-12: #030507;

  // font-weights
  --font-weight-1: 100;
  --font-weight-2: 200;
  --font-weight-3: 300;
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;
  --font-weight-8: 800;
  --font-weight-9: 900;
}

$sizes: (
  "0": var(--size-0, 0),
  "1": var(--size-1, .25rem),
  "2": var(--size-2, .5rem),
  "3": var(--size-3, 1rem),
  "4": var(--size-4, 1.25rem),
  "5": var(--size-5, 1.5rem),
  "6": var(--size-6, 1.75rem),
  "7": var(--size-7, 2rem),
  "8": var(--size-8, 3rem),
  "9": var(--size-9, 4rem),
  "10": var(--size-10, 5rem),
  "11": var(--size-11, 7.5rem),
  "12": var(--size-12, 10rem),
  "13": var(--size-13, 15rem),
  "14": var(--size-14, 20rem),
  "15": var(--size-15, 30rem)
);

@each $num, $value in $sizes {
  .p-#{$num} { padding: $value; }
  .ps-#{$num}, .px-#{$num} { padding-left: $value; }
  .pe-#{$num}, .px-#{$num} { padding-right: $value; }
  .pt-#{$num}, .py-#{$num} { padding-top: $value; }
  .pb-#{$num}, .py-#{$num} { padding-bottom: $value; }
}

@each $num, $value in $sizes {
  .m-#{$num} { margin: $value; }
  .ms-#{$num}, .mx-#{$num} { margin-left: $value; }
  .me-#{$num}, .mx-#{$num} { margin-right: $value; }
  .mt-#{$num}, .my-#{$num} { margin-top: $value; }
  .mb-#{$num}, .my-#{$num} { margin-bottom: $value; }
}

@each $num, $value in $sizes {
  .fs-#{$num} { font-size: $value; }
}

@each $num, $value in $sizes {
  .gap-#{$num} { gap: $value; }
}

.w-0 { width: 0%; }
.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-25 { width: 25%; }
.w-30 { width: 30%; }
.w-33 { width: 33%; }
.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-60 { width: 60%; }
.w-66 { width: 66%; }
.w-70 { width: 70%; }
.w-75 { width: 75%; }
.w-80 { width: 80%; }
.w-90 { width: 90%; }
.w-100 { width: 100%; }
.w-min-content { width: min-content; }
.w-max-content { width: max-content; }

.h-0 { height: 0%; }
.h-10 { height: 10%; }
.h-20 { height: 20%; }
.h-25 { height: 25%; }
.h-30 { height: 30%; }
.h-33 { height: 33%; }
.h-40 { height: 40%; }
.h-50 { height: 50%; }
.h-60 { height: 60%; }
.h-66 { height: 66%; }
.h-70 { height: 70%; }
.h-75 { height: 75%; }
.h-80 { height: 80%; }
.h-90 { height: 90%; }
.h-100 { height: 100%; }
.h-min-content { height: min-content; }
.h-max-content { height: max-content; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.text-blue { color: $blue; }
.text-purple { color: $purple; }
.text-pink { color: $pink; }
.text-orange { color: $orange; }
.text-yellow { color: $yellow; }
.text-red { color: $red; }

@for $i from 1 through 12 {
  .text-gray-#{$i} { color: var(--gray-#{$i}); }
}

.ff-mono { font-family: var(--r-code-font, #{$font-family-monospace}); }
.ff-sans { font-family: var(--r-sans-font, #{$font-family-sans-serif}); }

.fw-1 { font-weight: var(--font-weight-1); }
.fw-2 { font-weight: var(--font-weight-2); }
.fw-3 { font-weight: var(--font-weight-3); }
.fw-4 { font-weight: var(--font-weight-4); }
.fw-5 { font-weight: var(--font-weight-5); }
.fw-6 { font-weight: var(--font-weight-6); }
.fw-7 { font-weight: var(--font-weight-7); }
.fw-8 { font-weight: var(--font-weight-8); }
.fw-9 { font-weight: var(--font-weight-9); }

.fs-1vw { font-size: 1vw; }
.fs-2vw { font-size: clamp(1rem, 2vw, 11rem); }
.fs-3vw { font-size: clamp(1rem, 3vw, 9rem); }
.fs-4vw { font-size: clamp(1rem, 4vw, 7rem); }
.fs-5vw { font-size: 5vw; }
.fs-6vw { font-size: 6vw; }
.fs-7vw { font-size: 7vw; }
.fs-8vw { font-size: 8vw; }
.fs-9vw { font-size: 9vw; }
.fs-10vw { font-size: 10vw; }

.d-ib { display: inline-block; }
.d-if { display: inline-flex; }

.d-flex, .flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }

.align-items-start { align-items: flex-start; }
.align-items-end { align-items: flex-end; }
.align-items-center { align-items: center; }

.justify-content-start { justify-content: flex-start; }
.justify-content-end { justify-content: flex-end; }
.justify-content-center { justify-content: center; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.float-right { float: right }
.float-left { float: left }
