/*-- scss:rules --*/
:root {
  --quarto-page-bg-light: #eaeaea;
}

.muted {
  color: #aaa;
}

.ignore-muted .muted {
  color: inherit;
}

.ignore-mark mark {
  background-color: unset;
}

.slides {
  box-shadow: none;
  border-width: $border-updown-width $border-leftright-width;
}

.fancy-quote {
  position: relative;
  padding-left: 3rem;
}

.fancy-quote::before {
  content: "\201c";
  position: absolute;
  font-size: 205px;
  font-family: Georgia, serif;
  color: var(--quarto-hl-kw-color);
  top: -75px;
  left: -40px;
  opacity: 0.25;
}
